Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt*cursorBlink: false
URxvt*cursorUnderline: false
URxvt*transparent: false
URxvt*inheritPixmap: false
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 0
URxvt*urgentOnBell: true
URxvt*skipScroll: true
URxvt*buffered: true
URxvt*skipBuiltinGlyphs: true
URxvt*perl-ext-common: default,matcher
URxvt*matcher.button: 1
URxvt*urlLauncher: firefox
URxvt*saveLines: 4096
URxvt*allow_bold: false
URxvt*font: xft:DejaVu Sans Mono:pixelsize=13
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=13
URxvt*letterSpace: -1
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain

URxvt*color0         : #{{ theme.normal.black }}
URxvt*color1         : #{{ theme.normal.red }}
URxvt*color2         : #{{ theme.normal.green }}
URxvt*color3         : #{{ theme.normal.yellow }}
URxvt*color4         : #{{ theme.normal.blue }}
URxvt*color5         : #{{ theme.normal.magenta }}
URxvt*color6         : #{{ theme.normal.cyan }}
URxvt*color7         : #{{ theme.normal.white }}
URxvt*color8         : #{{ theme.bright.black }}
URxvt*color9         : #{{ theme.bright.red }}
URxvt*color10        : #{{ theme.bright.green }}
URxvt*color11        : #{{ theme.bright.yellow }}
URxvt*color12        : #{{ theme.bright.blue }}
URxvt*color13        : #{{ theme.bright.magenta }}
URxvt*color14        : #{{ theme.bright.cyan }}
URxvt*color15        : #{{ theme.bright.white }}
URxvt*foreground     : #{{ theme.foreground }}
URxvt*background     : #{{ theme.background }}
URxvt*cursorColor    : #{{ theme.accent }}

XTerm*color0         : #{{ theme.normal.black }}
XTerm*color1         : #{{ theme.normal.red }}
XTerm*color2         : #{{ theme.normal.green }}
XTerm*color3         : #{{ theme.normal.yellow }}
XTerm*color4         : #{{ theme.normal.blue }}
XTerm*color5         : #{{ theme.normal.magenta }}
XTerm*color6         : #{{ theme.normal.cyan }}
XTerm*color7         : #{{ theme.normal.white }}
XTerm*color8         : #{{ theme.bright.black }}
XTerm*color9         : #{{ theme.bright.red }}
XTerm*color10        : #{{ theme.bright.green }}
XTerm*color11        : #{{ theme.bright.yellow }}
XTerm*color12        : #{{ theme.bright.blue }}
XTerm*color13        : #{{ theme.bright.magenta }}
XTerm*color14        : #{{ theme.bright.cyan }}
XTerm*color15        : #{{ theme.bright.white }}
XTerm*foreground     : #{{ theme.foreground }}
XTerm*background     : #{{ theme.background }}
XTerm*cursorColor    : #{{ theme.accent }}

