/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  padding: 0;
  border-radius: 20px;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background: #{{ theme.background }};
  color: #{{ theme.foreground }};
  padding: 0px 8px;
  margin: 0;
  border-radius: 8px;
}

.modules-left {
  padding-left: 8px;
}

.modules-right {
  padding-right: 8px;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: "{{ global_font }}";
  font-size: 15pt;
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
  border-radius: 4px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 4px;
  margin: 5px 0px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
  color: #{{ theme.bright.black }};
  background: #{{ theme.normal.black }};
  border-radius: 12px;
}

#workspaces button {
  color: #{{ theme.bright.black }};
  min-width: 32px;
  padding: 0 0px;
  margin: 0px 0px;
}

#workspaces button:hover {
  color: #{{ theme.foreground }};
}

#workspaces button.active {
  color: #{{ theme.accent }};
}

#workspaces button.active:hover {
  color: #{{ theme.foreground }};
}

#workspaces button.visible {
  border: 2px solid #{{ theme.bright.black }};
}

#workspaces button.urgent {
  background: #{{ theme.bright.black }};
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
  /* border: 2px solid #d3869b; */
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  /* padding: 0 6px; */
  background: #{{ theme.normal.black }};
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  color: #ea6962;
  border: 2px solid #ea6962;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  color: #e78a4e;
  border: 2px solid #e78a4e;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  color: #{{ theme.foreground }};
  border: 2px solid #{{ theme.foreground }};
}

#temperature.critical {
  color: #{{ theme.bright.red }};
  border: 2px solid #{{ theme.foreground }};
}

/* ================================ */
/*            backlight             */
/* ================================ */
#custom-backlight {
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
}

/* ================================ */
/*            memory                */
/* ================================ */
#custom-memory {
  color: #{{ theme.foreground }};
  border: 2px solid #{{ theme.foreground }};
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
}

#pulseaudio.muted {
  color: #{{ theme.bright.red }};
  background: #{{ theme.normal.black }};
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
}

#battery.critical {
  color: #{{ theme.bright.red }};
  background: #{{ theme.normal.black }};
}

#battery.warning {
  color: #e78a4e;
  background: #{{ theme.normal.black }};
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
}

#clock.date {
  color: #{{ theme.foreground }};
  background: #{{ theme.normal.black }};
}

#custom-notification {
  color: #{{ theme.foreground }};
  font-size: 15pt;
  background: #{{ theme.normal.black }};
  padding: 2px 2px;
}
