/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  font-family: "{{ global_font }}";
  font-size: 15pt;
  padding: 0;
  min-height: 0;
  margin: 0;
  border: none;
  background: none;
  text-shadow: none;
  transition: none;
  border-radius: 3px;
}

/* the whole window */
window#waybar {
  color: #{{ theme.foreground }};
  padding: 0px 8px;
  margin: 0;
}

window#waybar > box {
  margin: 4px 8px 8px 8px;
  background-color: transparent;
}

.modules-left {
  background-color: rgba(
    {{- theme.background[0:2] | int(base=16) }},
    {{- theme.background[2:4] | int(base=16) }},
    {{- theme.background[4:6] | int(base=16) }}, 0.999); /* workaround for waybar messing rounded corners on full opacity */
  box-shadow: rgba(
    {{- theme.background[0:2] | int(base=16) }},
    {{- theme.background[2:4] | int(base=16) }},
    {{- theme.background[4:6] | int(base=16) }}, 0.34) 0px 2px 3px 3px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
}

.modules-center {
  background-color: rgba(
    {{- theme.background[0:2] | int(base=16) }},
    {{- theme.background[2:4] | int(base=16) }},
    {{- theme.background[4:6] | int(base=16) }}, 0.999); /* workaround for waybar messing rounded corners on full opacity */
  box-shadow: rgba(
    {{- theme.background[0:2] | int(base=16) }},
    {{- theme.background[2:4] | int(base=16) }},
    {{- theme.background[4:6] | int(base=16) }}, 0.34) 0px 2px 3px 3px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 16px;
  padding-right: 16px;
}

.modules-right {
  background-color: rgba(
    {{- theme.background[0:2] | int(base=16) }},
    {{- theme.background[2:4] | int(base=16) }},
    {{- theme.background[4:6] | int(base=16) }}, 0.999); /* workaround for waybar messing rounded corners on full opacity */
  box-shadow: rgba(
    {{- theme.background[0:2] | int(base=16) }},
    {{- theme.background[2:4] | int(base=16) }},
    {{- theme.background[4:6] | int(base=16) }}, 0.34) 0px 2px 3px 3px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#cpu.medium,
#cpu.high,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock,
#language,

#workspaces {
  margin: 0px;
}

tooltip {
  background-color: #{{ theme.background }};
  border: 1px solid #{{ theme.bright.black }};
}

#workspaces button {
  color: #{{ theme.bright.black }};
  border-radius: 8px;
  min-width: 32px;
  padding: 0 0px;
  margin: 0px 0px;
}

#workspaces button:hover {
  color: #{{ theme.foreground }};
}

#workspaces button.active {
  color: #{{ theme.accent }};
}

#workspaces button.active:hover {
  color: #{{ theme.foreground }};
}

#workspaces button.visible {
  border: 2px solid #{{ theme.bright.black }};
}

#workspaces button.urgent {
  background: #{{ theme.bright.black }};
}

#window {
  color: #{{ theme.foreground }};
  background: none;
  border-bottom: 0px solid #{{ theme.foreground }};
}

#language {
  color: #{{ theme.bright.black }};
  border-bottom: 3px solid #{{ theme.normal.yellow }};
}

#tray {
  background: #{{ theme.background }};
}

#cpu {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.bright.yellow }};
}

#cpu.medium {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.bright.yellow }};
}

#cpu.high {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.bright.red }};
}

#memory {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.normal.cyan }};
}

#temperature {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.normal.red }};
}

#backlight {
  color: #{{ theme.bright.black }};
  border-bottom: 3px solid #{{ theme.bright.black }};
  padding-left: 4px;
  padding-right: 4px;
}

#pulseaudio {
  color: #{{ theme.bright.white }};
  border-bottom: 3px solid #{{ theme.normal.green }};
}

#pulseaudio.muted {
  color: #{{ theme.bright.red }};
}

#battery {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.normal.yellow }};
}

#battery.critical {
  color: #{{ theme.bright.red }};
}

#battery.warning {
  color: #{{ theme.bright.yellow }};
}

#clock {
  color: #{{ theme.foreground }};
  border-bottom: 3px solid #{{ theme.normal.blue }};
}

#custom-notification {
  color: #{{ theme.foreground }};
  padding: 2px 2px;
}

#bluetooth {
  color: #{{ theme.normal.blue }};
  border-bottom: 3px solid #{{ theme.normal.blue }};
}

#network {
  color: #{{ theme.normal.magenta }};
  border-bottom: 3px solid #{{ theme.normal.magenta }};
}
