Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt*cursorBlink: false
URxvt*cursorUnderline: false
URxvt*transparent: false
URxvt*inheritPixmap: false
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 0
URxvt*urgentOnBell: true
URxvt*skipScroll: true
URxvt*buffered: true
URxvt*skipBuiltinGlyphs: true
URxvt*perl-ext-common: default,matcher
URxvt*matcher.button: 1
URxvt*urlLauncher: firefox
URxvt*saveLines: 4096
URxvt*allow_bold: false
URxvt*font: xft:DejaVu Sans Mono:pixelsize=13
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=13
URxvt*letterSpace: -1
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain

URxvt*color0         : #{{ theme.color0 }}
URxvt*color1         : #{{ theme.color1 }}
URxvt*color2         : #{{ theme.color2 }}
URxvt*color3         : #{{ theme.color3 }}
URxvt*color4         : #{{ theme.color4 }}
URxvt*color5         : #{{ theme.color5 }}
URxvt*color6         : #{{ theme.color6 }}
URxvt*color7         : #{{ theme.color7 }}
URxvt*color8         : #{{ theme.color8 }}
URxvt*color9         : #{{ theme.color9 }}
URxvt*color10        : #{{ theme.color10 }}
URxvt*color11        : #{{ theme.color11 }}
URxvt*color12        : #{{ theme.color12 }}
URxvt*color13        : #{{ theme.color13 }}
URxvt*color14        : #{{ theme.color14 }}
URxvt*color15        : #{{ theme.color15 }}
URxvt*foreground     : #{{ theme.foreground }}
URxvt*background     : #{{ theme.background }}
URxvt*cursorColor    : #{{ theme.accent }}

XTerm*color0         : #{{ theme.color0 }}
XTerm*color1         : #{{ theme.color1 }}
XTerm*color2         : #{{ theme.color2 }}
XTerm*color3         : #{{ theme.color3 }}
XTerm*color4         : #{{ theme.color4 }}
XTerm*color5         : #{{ theme.color5 }}
XTerm*color6         : #{{ theme.color6 }}
XTerm*color7         : #{{ theme.color7 }}
XTerm*color8         : #{{ theme.color8 }}
XTerm*color9         : #{{ theme.color9 }}
XTerm*color10        : #{{ theme.color10 }}
XTerm*color11        : #{{ theme.color11 }}
XTerm*color12        : #{{ theme.color12 }}
XTerm*color13        : #{{ theme.color13 }}
XTerm*color14        : #{{ theme.color14 }}
XTerm*color15        : #{{ theme.color15 }}
XTerm*foreground     : #{{ theme.foreground }}
XTerm*background     : #{{ theme.background }}
XTerm*cursorColor    : #{{ theme.accent }}

