[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg \
          -o eDP-1 -m fill -i "%h/{{ niri_wallpaper }}" \
          -o DP-1 -m fill -i "%h/{{ niri_wallpaper }}"
Restart=on-failure
