:root {
  --mytheme-background: #{{ theme.background }};
  --mytheme-foreground: #{{ theme.foreground }};
  --mytheme-accent: #{{ theme.accent }};
  --mytheme-comment: #{{ theme.bright.black }};
  --mytheme-black: #{{ theme.normal.black }};
  --mytheme-red: #{{ theme.normal.red }};
  --mytheme-orange: #{{ theme.normal.yellow }};
  --mytheme-yellow: #{{ theme.bright.yellow }};
  --mytheme-green: #{{ theme.normal.green }};
  --mytheme-blue: #{{ theme.normal.blue }};
  --mytheme-purple: #{{ theme.normal.magenta }};
  --mytheme-cyan: #{{ theme.normal.cyan }};
  --mytheme-pink: #{{ theme.bright.magenta }};
  --mytheme-bright-cyan: #{{ theme.bright.cyan }};

  /* Generic */
  --tridactyl-font-family: "{{ global_font }}";
  --tridactyl-font-family-sans: "{{ global_font }}";
  --tridactyl-font-size: {{ global_font_size }}px;
  --tridactyl-small-font-size: {{ global_font_size }}px;
  --tridactyl-bg: var(--mytheme-background);
  --tridactyl-fg: var(--mytheme-foreground);
  --tridactyl-scrollbar-color: auto;

  /* Mode Indicator */
  --tridactyl-status-font-family: var(--tridactyl-font-family);
  --tridactyl-status-font-size: var(--tridactyl-small-font-size);
  --tridactyl-status-bg: var(--mytheme-background);
  --tridactyl-status-fg: var(--mytheme-foreground);
  --tridactyl-status-border: 0;
  --tridactyl-status-border-radius: 6px;

  /* Hint Character Tags */
  --tridactyl-hintspan-font-family: var(--tridactyl-font-family);
  --tridactyl-hintspan-font-size: var(--tridactyl-small-font-size);
  --tridactyl-hintspan-font-weight: bold;
  --tridactyl-hintspan-fg: var(--mytheme-black);
  --tridactyl-hintspan-bg: var(--mytheme-yellow);
  --tridactyl-hintspan-border-width: 1px;
  --tridactyl-hintspan-border-color: var(--mytheme-black);
  --tridactyl-hintspan-js-background: var(--mytheme-orange);

  /* Hint Element Highlights */
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: 0;
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: 0;

  /* :viewsource */
  --tridactyl-vs-bg: var(--mytheme-black);
  --tridactyl-vs-fg: var(--mytheme-comment);
  --tridactyl-vs-font-family: var(--tridactyl-font-family);

  /* Commandline */
  --tridactyl-cmdl-bg: var(--mytheme-background);
  --tridactyl-cmdl-fg: var(--mytheme-foreground);
  --tridactyl-cmdl-line-height: 1.6;
  --tridactyl-cmdl-font-family: var(--tridactyl-font-family);
  --tridactyl-cmdl-font-size: var(--tridactyl-small-font-size);

  /* Completions */
  --tridactyl-cmplt-option-height: 1.4em;
  --tridactyl-cmplt-fg: var(--mytheme-foreground);
  --tridactyl-cmplt-bg: var(--mytheme-background);
  --tridactyl-cmplt-font-size: var(--tridactyl-small-font-size);
  --tridactyl-cmplt-font-family: var(--tridactyl-font-family);
  --tridactyl-cmplt-border-top: 0;

  /* Header */
  --tridactyl-header-first-bg: var(--mytheme-black);
  --tridactyl-header-second-bg: var(--mytheme-black);
  --tridactyl-header-third-bg: var(--mytheme-black);
  --tridactyl-header-font-size: inherit;
  --tridactyl-header-font-weight: normal;
  --tridactyl-header-border-bottom: 0;

  /* URL Style */
  --tridactyl-url-text-decoration: none;
  --tridactyl-url-fg: var(--mytheme-accent);
  --tridactyl-url-bg: none;
  --tridactyl-url-cursor: pointer;

  /* Handle the selected URL's color */
  --tridactyl-photon-colours-accent-1: var(--mytheme-black);

  /* Option Focused */
  --tridactyl-of-fg: var(--mytheme-background);
  --tridactyl-of-bg: var(--mytheme-accent);

  /* New Tab Page Spoiler Box (Changelog) */
  --tridactyl-highlight-box-bg: var(--mytheme-black);
  --tridactyl-highlight-box-fg: var(--mytheme-comment);
  --tridactyl-photon-colours-in-content-box-border-color: var(--mytheme-black) !important;

  /* Private Window Icon */
  --tridactyl-private-window-icon-url: url("chrome://browser/skin/privateBrowsing.svg");

  /* Container Icons */
  --tridactyl-container-fingerprint-url: url("resource://usercontext-content/fingerprint.svg");
  --tridactyl-container-briefcase-url: url("resource://usercontext-content/briefcase.svg");
  --tridactyl-container-dollar-url: url("resource://usercontext-content/dollar.svg");
  --tridactyl-container-cart-url: url("resource://usercontext-content/cart.svg");
  --tridactyl-container-circle-url: url("resource://usercontext-content/circle.svg");
  --tridactyl-container-gift-url: url("resource://usercontext-content/gift.svg");
  --tridactyl-container-vacation-url: url("resource://usercontext-content/vacation.svg");
  --tridactyl-container-food-url: url("resource://usercontext-content/food.svg");
  --tridactyl-container-fruit-url: url("resource://usercontext-content/fruit.svg");
  --tridactyl-container-pet-url: url("resource://usercontext-content/pet.svg");
  --tridactyl-container-tree-url: url("resource://usercontext-content/tree.svg");
  --tridactyl-container-chill-url: url("resource://usercontext-content/chill.svg");

  /* Container Colors */
  --tridactyl-container-color-blue: var(--mytheme-cyan);
  --tridactyl-container-color-turquoise: var(--mytheme-bright-cyan);
  --tridactyl-container-color-green: var(--mytheme-green);
  --tridactyl-container-color-yellow: var(--mytheme-yellow);
  --tridactyl-container-color-orange: var(--mytheme-orange);
  --tridactyl-container-color-red: var(--mytheme-red);
  --tridactyl-container-color-pink: var(--mytheme-pink);
  --tridactyl-container-color-purple: var(--mytheme-purple);
}

/*
# Private Windows

Mode Indicator: This has a white background by default, which didn't work so
well with the mytheme foreground color (#f8f8f2).

Icon Color: The default black SVG icon color doesn't contrast enough with the
mytheme background color.
*/

.TridactylPrivate {
  background: none !important;
}

.TridactylOwnNamespace {
  background-color: var(--mytheme-background) !important;
}

.TridactylOwnNamespace .option.incognito .privatewindow {
  fill: var(--mytheme-comment) !important;
}

:root #completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

#completions > div > table {
    font-size: var(--tridactyl-cmplt-font-size) !important;
}

:root #command-line-holder {
    order: 1;
    font-size: var(--tridactyl-cmplt-font-size);
}

/*
# Tridactyl Help Page

Use the mytheme color theme on the `:help` page.
*/

.TridactylOwnNamespace .tsd-flag {
  background-color: var(--mytheme-accent) !important;
  color: var(--mytheme-foreground) !important;
}

.TridactylOwnNamespace .tsd-panel,
.TridactylOwnNamespace .tsd-signature,
.TridactylOwnNamespace .tsd-index-panel h3 {
  border-width: 1px !important;
  border-color: var(--mytheme-background) !important;
}

.TridactylOwnNamespace .tsd-signature-symbol,
.TridactylOwnNamespace .tsd-sources {
  color: var(--mytheme-accent) !important;
}

.TridactylOwnNamespace .hljs-keyword {
  color: var(--mytheme-purple) !important;
}

.TridactylOwnNamespace .hljs-string {
  color: var(--mytheme-yellow) !important;
}

.TridactylOwnNamespace .hljs-title,
.TridactylOwnNamespace .hljs-comment {
  color: var(--mytheme-foreground) !important;
}
