configuration {
    modi: "window,run,drun";
    font: "Fira Code Retina 12";
    terminal: "rofi-sensible-terminal";
    width: 50;
    lines: 15;
    columns: 1;
    bw: 4;
    fixed-num-lines: false;
    show-icons: true;
    drun-match-fields: "name,generic,exec,categories";
    drun-show-actions: false;
    drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    cycle: true;
    sidebar-mode: true;
    combi-modi: "window,drun";
    dpi: 96;
    max-history-size: 100;
    combi-hide-mode-prefix: false;
}
@theme "theme.rasi"
