:root {
    /* TAB VARIABLES */
    --bg-light: #C6892E; --bg-dark: #262626;
    --fg-light: #FEFEEE; --fg-dark: #DCDCCC;
    --tab-triangle-correction: -1px;
    --tab-height: 24px; --tab-icon-size: 10px; --tab-strip-margin: -11px; --tab-overlap: -5px;
    --tab-fonts: "Lemon",monospace,"Dejavu Sans"; --tab-font-size: 9pt;
    --tab-text-align: center; /* left | center | right */
    --tab-triangle: block; /* block | none */

    /* URL VARIABLES */
    --url-background: var(--bg-light); --url-color: var(--fg-light);
    --url-height: 18px; --url-right-margin: 5px;
    --url-fonts: "Lemon",monospace,"Dejavu Sans"; --url-font-size: 9pt;
    --url-text-align: center; /* left | center | right */
    --url-position: absolute; /* absolute == top (under tabs) || fixed == bottom of browser */
    
    margin-bottom: 0 /* var(--url-height) */ !important;
}
