add_newline = false
format = """$username$hostname:$directory$git_branch$git_status$character"""

[directory]
truncation_length = 8
truncation_symbol = ".."
truncate_to_repo = false
format = """[$path]($style)"""
style = "cyan"

[fill]
symbol = " "

[username]
style_user = "green"
style_root = "red bold"
format = """[$user]($style)[@](white)"""
show_always = true

[hostname]
ssh_only = false
format = """$hostname"""

[character]
success_symbol = """[❱](bold cyan)"""
error_symbol = """[❱](bold red)"""
vicmd_symbol = """[❰](bold gray)"""

[git_branch]
format = """ [$symbol$branch]($style)"""
style="red"

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'

# vim:ft=toml
