bind r source-file ~/.tmux.conf #\; display "Config reloaded!"

bind C-a send-prefix
unbind C-b
set-option -g prefix C-a

set -g default-terminal "screen-256color"

set -s escape-time 0
set -g base-index 0
setw -g pane-base-index 0
bind a set-window-option synchronize-panes\; display-message "synchronize-panes is now #{?pane_synchronized,on,off}"

setw -g mode-keys vi
bind -T copy-mode-vi Space  send-keys -X begin-selection
bind -T copy-mode-vi Escape send-keys -X copy-selection-and-cancel
bind -T copy-mode-vi i      send-keys -X copy-selection-and-cancel
bind -T copy-mode-vi c      send-keys -X rectangle-toggle
bind ] paste-buffer

bind C-c new-window
bind C-n next-window
bind C-p previous-window

bind | split-window -h
bind - split-window -v

bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

set -g allow-rename off

set -g status-justify centre

setw -g monitor-activity on
set -g visual-activity on

set-option -g update-environment 'DISPLAY SSH_ASKPASS SSH_AUTH_SOCK SSH_AGENT_PID SSH_CONNECTION WINDOWID XAUTHORITY DBUS_SESSION_BUS_ADDRESS'

set -g status-style 'bg=colour0 fg=colour7'
set -g status-left ' #S ' # sesion name
set -g status-right '#(hostname)'
set -g status-right-length 20
set -g status-left-length 20

setw -g window-status-current-format ' #[fg=red]> #[fg=brightwhite]#W '
setw -g window-status-format ' #I #[fg=brightwhite]#W '

setw -g window-status-bell-style 'fg=brightwhite bg=red bold'
setw -g window-status-separator ''

set -g bell-action none
set -g visual-bell off
set -g visual-activity off
set -g monitor-activity off
